<template>
  <v-main class="pt-0" style="margin-top: 64px">
    <div style="min-height: 100vh">
      <h1>Hola Mundo</h1>
    </div>
  </v-main>
</template>

<script>
  export default {
    name: "ExamplePage"
  }
</script>

<style scoped>

</style>
