<template>
  <v-carousel :show-arrows="false" id="download">
    <v-carousel-item
      v-for="(item, i) in items"
      :key="i"
      :src="item.src"
      height="100%"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656950281/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.47_AM_4_zk4ohx.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/v1656951302/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.46_AM_1_1_y9whuu.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656951565/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.47_AM_3_1_nfwmgu.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656952187/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.46_AM_3_1_u3zmj5.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656952877/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.46_AM_4_kdvmfc.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/v1656953552/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.47_AM_2_1_vkarn9.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656953680/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.47_AM_1_1_zmpr5q.webp",
        },
        {
          src: "https://res.cloudinary.com/dvs9fbw5f/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656953764/pata%20de%20oso%20/WhatsApp_Image_2022-06-28_at_11.05.46_AM_2_1_kk1spd.webp",
        },
      ],
    };
  },
};
</script>

<style></style>
