<template>
  <v-main class="pt-0">
    <home />
    <about />
    <galeria />
    <product />

    <contact />
  </v-main>
</template>

<script>
  import home from "./HomeSection";
  import about from "./AboutSection";
  import galeria from "./GaleriaSection";
  import product from "./ProductCard";

  import contact from "./ContactSection";
  export default {
    name: "MainContent",

    components: {
      home,
      about,
      galeria,
      product,
      contact,
    },
  }
</script>

<style scoped>

</style>
