<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      dark
      src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1656948289/pata%20de%20oso%20/bgDrawer_xhdvl8.webp"
    >
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <img
              src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1656944373/pata%20de%20oso%20/logo_ptgc2w.webp"
              alt="Logo"
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="title">Pata de</v-list-item-title>
            <v-list-item-subtitle>OSO</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider />

      <v-list dense>
        <v-list-item
          v-for="([icon, text, link], i) in items"
          :key="i"
          link
          @click="$vuetify.goTo(link)"
        >
          <v-list-item-icon class="justify-center">
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="subtitile-1">{{
              text
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      :color="color"
      :flat="flat"
      dark
      class="px-15"
      :class="{ expand: flat }"
    >
      <v-toolbar-title>
        <v-img
            @click="goToId('#hero')"
          src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1656944373/pata%20de%20oso%20/logo_ptgc2w.webp"
          max-width="50px"
            style="cursor: pointer"
        />
      </v-toolbar-title>
      <v-spacer />
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="mr-4"
        v-if="isXs"
      />
      <div v-else>
        <v-btn text @click="goToId('#hero')">
          <span class="mr-2">Inicio</span>
        </v-btn>
        <v-btn text @click="goToId('#features')">
          <span class="mr-2">Sobre</span>
        </v-btn>
        <v-btn text @click="goToId('#download')">
          <span class="mr-2">Galeria</span>
        </v-btn>
        <v-btn text @click="goToId('#product')">
          <span class="mr-2">Productos</span>
        </v-btn>
        <v-btn rounded outlined text @click="goToId('#contact')">
          <span class="mr-2">Contactanos</span>
        </v-btn>
      </div>
    </v-app-bar>
  </div>
</template>

<style scoped>
.v-toolbar {
  transition: 0.6s;
}

.expand {
  height: 80px !important;
  padding-top: 10px;
}
</style>

<script>
export default {
  data: () => ({
    drawer: null,
    isXs: false,
    items: [
      ["mdi-home-outline", "Inicio", "#hero"],
      ["mdi-information-outline", "Sobre", "#features"],
      ["mdi-download-box-outline", "Galeria", "#download"],
      ["mdi-currency-usd", "Productos", "#product"],
      ["mdi-email-outline", "Contactos", "#contact"],
    ],
  }),
  props: {
    color: String,
    flat: Boolean,
  },
  computed: {
    isHome() {
      return this.$route.name === "Index";
    },
  },
  methods: {
    onResize() {
      this.isXs = window.innerWidth < 850;
    },
    goToId(id) {
      !this.isHome && this.$router.push('/')
      setTimeout(() => {
        this.$vuetify.goTo(id)
      }, 100);
    }
  },

  watch: {
    isXs(value) {
      if (!value) {
        if (this.drawer) {
          this.drawer = false;
        }
      }
    },
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
};
</script>
