<template>
  <section id="product" class="pb-8">
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="10">
          <v-card style="width: 100%">
            <h1 class="text-center pt-6 font-weight-light display-2">
              Productos
            </h1>
            <v-divider class="my-6"></v-divider>
            <v-row class="text-center">
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1659371341/pata%20de%20oso%20/run_flat_full-removebg-preview_hgywmd.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      FRO1
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">Run Flat Tire</div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog" width="900">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in from1" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                  <v-divider
                    style="margin-right: -23px"
                    vertical
                    v-if="this.$vuetify.breakpoint.smAndUp"
                  ></v-divider>
                </div>
                <v-divider
                  class="mx-4"
                  v-if="!this.$vuetify.breakpoint.smAndUp"
                ></v-divider>
              </v-col>
              
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1658869539/pata%20de%20oso%20/Good-Price-215-65r16-225-70r16-215-60r17-195-60r15-205-60r15-185-65r15-Car-Tires-removebg-preview_kw9uel.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      BS67
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">
                      STUDABLE WINTER TYRE
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog3 = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog3" width="900">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in bs67" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                  <v-divider
                    style="margin-right: -23px"
                    vertical
                    v-if="this.$vuetify.breakpoint.smAndUp"
                  ></v-divider>
                </div>
                <v-divider
                  class="mx-4"
                  v-if="!this.$vuetify.breakpoint.smAndUp"
                ></v-divider>
              </v-col>
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1658869414/pata%20de%20oso%20/Snow-Tyre-BS66-BS68-Wd69-Winda-Boto-PCR-225-55r16-225-50r17-225-50r18-225-45r17-235-70r16-245-45r19-245-45r20-245-50r20-245-55r19-245-60r18__1_-removebg-preview_q85lm9.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      BS68
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">Winter tyre</div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog2 = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog2" width="900">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in bs68" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                </div>
              </v-col>
            </v-row>
            <v-divider class="my-6"></v-divider>
            <v-row class="text-center">
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1658349152/pata%20de%20oso%20/Snow-Tyre-BS66-BS68-Wd69-Winda-Boto-PCR-225-55r16-225-50r17-225-50r18-225-45r17-235-70r16-245-45r19-245-45r20-245-50r20-245-55r19-245-60r18-removebg-preview_1_zkpqfi.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      WD69
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">Winter Tyre</div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog4 = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog4" width="900">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in wd69" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                  <v-divider
                    style="margin-right: -23px"
                    vertical
                    v-if="this.$vuetify.breakpoint.smAndUp"
                  ></v-divider>
                </div>
                <v-divider
                  class="mx-4"
                  v-if="!this.$vuetify.breakpoint.smAndUp"
                ></v-divider>
              </v-col>
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1663187619/pata%20de%20oso%20/llanta-boto-bm81-mt_2_2-removebg-preview_1_kfbexo.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      BM81
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">Mud Terrain Tyre</div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog5 = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog5" width="990">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">PR</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in bm81" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.pr}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                  <v-divider
                    style="margin-right: -23px"
                    vertical
                    v-if="this.$vuetify.breakpoint.smAndUp"
                  ></v-divider>
                </div>
                <v-divider
                  class="mx-4"
                  v-if="!this.$vuetify.breakpoint.smAndUp"
                ></v-divider>
              </v-col>
              <v-col class="col-12 col-sm-6 col-md-4">
                <div class="flex-center">
                  <v-card-text>
                    <div class="flex-center">
                      <div class="circle1">
                        <div class="circle2">
                          <v-img
                            src="https://res.cloudinary.com/dvs9fbw5f/image/upload/v1663188083/pata%20de%20oso%20/llanta-bptp-sportstar-bh19-removebg-preview_1_vto2ml.webp"
                          ></v-img>
                        </div>
                      </div>
                    </div>
                    <div class="text--disabled text-uppercase text-h5 my-2">
                      BH19
                    </div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase blue--text">Special For Sport Car</div>
                    <v-divider class="my-2" />
                    <div class="text-uppercase text-h4 mt-6 blue--text">
                      $ 000,00
                    </div>
                    <v-btn
                    color="primary"
                    class="ma-2"
                    dark
                    @click="dialog6 = true"
                    >
                    ver medidas
                    </v-btn>
                    <v-dialog v-model="dialog6" width="900">
                      <v-card>
                        <v-card-title
                          class="text-center text-h5 grey lighten-2"
                        >
                          Medidas
                        </v-card-title>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-center">SIZE</th>
                                <th class="text-center">Load Index</th>
                                <th class="text-center">Seed Rating</th>
                                <th class="text-center">Standard Rim</th>
                                <th class="text-center">Section Width (mm)</th>
                                <th class="text-center">Overall Diameter (mm)</th>
                                <th class="text-center">Max.load (Kg)</th>
                                <th class="text-center">Max.load (Ibs)</th>
                                <th class="text-center">Max.pressure (Kpa)</th>
                                <th class="text-center">Max.pressure (Psi)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="item in bh19" :key="item.name">
                                <td class="text-center">{{item.size}}</td>
                                <td class="text-center">{{item.load}}</td>
                                <td class="text-center">{{item.seed}}</td>
                                <td class="text-center">{{item.standard}}</td>
                                <td class="text-center">{{item.section}}</td>
                                <td class="text-center">{{item.overall}}</td>
                                <td class="text-center">{{item.maxkg}}</td>
                                <td class="text-center">{{item.maxibs}}</td>
                                <td class="text-center">{{item.maxkpa}}</td>
                                <td class="text-center">{{item.maxpsi}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card>
                    </v-dialog>
                  </v-card-text>
                </div>
              </v-col>
            </v-row>
            <v-divider class="my-6"></v-divider>
            <v-row
              align="center"
              justify="space-around"
            >
            <v-btn
              depressed
              color="primary"
              @click="goToExample"
            >
            Ver mas productos..
            </v-btn>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      dialog2: false,
      dialog3: false,
      dialog4: false,
      dialog5: false,
      dialog6: false,
      from1: [
        {
          size: '225/45ZRF17',
          load: 91,
          seed: 'W',
          standard: "7.5J",
          section: 225,
          overall: 634,
          maxkg: 615,
          maxibs: 1356,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '225/50RF17',
          load: 94,
          seed: 'W',
          standard: "7.0J",
          section: 233,
          overall: 658,
          maxkg: 670,
          maxibs: 1477,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '225/55ZRF17',
          load: 97,
          seed: 'W',
          standard: "7.0J",
          section: 233,
          overall: 680,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '235/50RF18',
          load: 97,
          seed: 'W',
          standard: "7.5J",
          section: 245,
          overall: 693,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '235/55ZRF18',
          load: 100,
          seed: 'V',
          standard: "7.5J",
          section: 245,
          overall: 715,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '245/40ZRF18',
          load: 93,
          seed: 'W',
          standard: "8.5J",
          section: 248,
          overall: 653,
          maxkg: 650,
          maxibs: 1433,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '245/45ZRF18',
          load: 96,
          seed: 'W',
          standard: "8.0J",
          section: 243,
          overall: 677,
          maxkg: 710,
          maxibs: 1565,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '245/50RF18',
          load: 100,
          seed: 'W',
          standard: "7.5J",
          section: 253,
          overall: 703,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '255/55ZRF18',
          load: 105,
          seed: 'V',
          standard: "8.0J",
          section: 265,
          overall: 737,
          maxkg: 925,
          maxibs: 2039,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '235/55RF19',
          load: 101,
          seed: 'V',
          standard: "7.5J",
          section: 245,
          overall: 741,
          maxkg: 825,
          maxibs: 1819,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '245/45ZRF19',
          load: 98,
          seed: 'W',
          standard: "8.0J",
          section: 243,
          overall: 703,
          maxkg: 750,
          maxibs: 1653,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '255/50RF19',
          load: 103,
          seed: 'W',
          standard: "8.0J",
          section: 265,
          overall: 739,
          maxkg: 875,
          maxibs: 1929,
          maxkpa: 300,
          maxpsi: 40
        },
        {
          size: '275/40ZRF19',
          load: 101,
          seed: 'W',
          standard: "9.5J",
          section: 278,
          overall: 703,
          maxkg: 825,
          maxibs: 1819,
          maxkpa: 300,
          maxpsi: 40
        },
      ],
      bs68: [
      {
          size: '205/65R16',
          load: 95,
          seed: 'T',
          standard: "6.0J",
          section: 209,
          overall: 672,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '205/55R16',
          load: 95,
          seed: 'T',
          standard: "7.0J",
          section: 233,
          overall: 654,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '205/50R17',
          load: 93,
          seed: 'H',
          standard: "6.5J",
          section: 214,
          overall: 638,
          maxkg: 650,
          maxibs: 1433,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '205/55R17',
          load: 95,
          seed: 'T',
          standard: "6.5J",
          section: 214,
          overall: 658,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/45R17',
          load: 91,
          seed: 'H',
          standard: "7.0J",
          section: 213,
          overall: 626,
          maxkg: 615,
          maxibs: 1356,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/50R17',
          load: 95,
          seed: 'H',
          standard: "7.0J",
          section: 226,
          overall: 648,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/55R17',
          load: 94,
          seed: 'T',
          standard: "7.0J",
          section: 226,
          overall: 668,
          maxkg: 670,
          maxibs: 1477,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/45R17',
          load: 94,
          seed: 'H',
          standard: "7.5J",
          section: 225,
          overall: 634,
          maxkg: 670,
          maxibs: 1477,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/50R17',
          load: 94,
          seed: 'T',
          standard: "7.0J",
          section: 233,
          overall: 658,
          maxkg: 670,
          maxibs: 1477,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/55R17',
          load: 97,
          seed: 'H',
          standard: "7.0J",
          section: 233,
          overall: 680,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '235/45R17',
          load: 97,
          seed: 'S',
          standard: "8.0J",
          section: 236,
          overall: 640,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/55R17',
          load: 99,
          seed: 'S',
          standard: "7.5J",
          section: 245,
          overall: 690,
          maxkg: 775,
          maxibs: 1708,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '215/50R18',
          load: 92,
          seed: 'T',
          standard: "7.0J",
          section: 226,
          overall: 673,
          maxkg: 630,
          maxibs: 1389,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '215/55R18',
          load: 99,
          seed: 'H',
          standard: "7.0J",
          section: 226,
          overall: 693,
          maxkg: 775,
          maxibs: 1708,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/40R18',
          load: 92,
          seed: 'H',
          standard: "8.0J",
          section: 230,
          overall: 637,
          maxkg: 630,
          maxibs: 1389,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/45R18',
          load: 95,
          seed: 'H',
          standard: "7.5J",
          section: 225,
          overall: 659,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/50R18',
          load: 99,
          seed: 'H',
          standard: "7.0J",
          section: 233,
          overall: 683,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/45R18',
          load: 98,
          seed: 'T',
          standard: "8.0J",
          section: 236,
          overall: 669,
          maxkg: 750,
          maxibs: 1653,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/50R18',
          load: 101,
          seed: 'H',
          standard: "7.5J",
          section: 245,
          overall: 693,
          maxkg: 825,
          maxibs: 1819,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/55R18',
          load: 100,
          seed: 'H',
          standard: "7.5J",
          section: 245,
          overall: 715,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/40R18',
          load: 97,
          seed: 'H',
          standard: "8.5J",
          section: 248,
          overall: 653,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '245/45R18',
          load: 96,
          seed: 'S',
          standard: "8.0J",
          section: 243,
          overall: 677,
          maxkg: 710,
          maxibs: 1565,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/50R18',
          load: 104,
          seed: 'H',
          standard: "7.5J",
          section: 253,
          overall: 703,
          maxkg: 900,
          maxibs: 1984,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '255/40R18',
          load: 99,
          seed: 'S',
          standard: "9.0J",
          section: 260,
          overall: 661,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '255/45R18',
          load: 103,
          seed: 'T',
          standard: "8.5J",
          section: 255,
          overall: 713,
          maxkg: 875,
          maxibs: 1929,
          maxkpa: 340,
          maxpsi: 49
        },
      ],
      bs67: [
      {
          size: '175/65R14',
          load: 86,
          seed: 'T',
          standard: "5.0J",
          section: 177,
          overall: 584,
          maxkg: 530,
          maxibs: 1168,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '195/65R15',
          load: 95,
          seed: 'T',
          standard: "6.0J",
          section: 201,
          overall: 635,
          maxkg: 690,
          maxibs: 1521,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '205/55R16',
          load: 94,
          seed: 'T',
          standard: "6.5J",
          section: 214,
          overall: 632,
          maxkg: 670,
          maxibs: 1477,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/60R16',
          load: 99,
          seed: 'T',
          standard: "6.5J",
          section: 221,
          overall: 664,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/65R16',
          load: 102,
          seed: 'T',
          standard: "6.5J",
          section: 221,
          overall: 686,
          maxkg: 850,
          maxibs: 1874,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '215/70R16',
          load: 100,
          seed: 'T',
          standard: "6.5J",
          section: 221,
          overall: 708,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '215/55R17',
          load: 98,
          seed: 'T',
          standard: "7.5J",
          section: 226,
          overall: 668,
          maxkg: 750,
          maxibs: 1653,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/65R17',
          load: 106,
          seed: 'T',
          standard: "6.5J",
          section: 228,
          overall: 724,
          maxkg: 950,
          maxibs: 2094,
          maxkpa: 340,
          maxpsi: 49
        }
      ],
      wd69: [
      {
          size: '215/65R16',
          load: 98,
          seed: 'S',
          standard: "6.5J",
          section: 221,
          overall: 686,
          maxkg: 750,
          maxibs: 1653,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '235/70R16',
          load: 106,
          seed: 'S',
          standard: "7.0J",
          section: 240,
          overall: 736,
          maxkg: 950,
          maxibs: 1653,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '265/70R16',
          load: 112,
          seed: 'T',
          standard: "8.0J",
          section: 272,
          overall: 778,
          maxkg: 1020,
          maxibs: 2469,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '215/65R17',
          load: 99,
          seed: 'T',
          standard: "6.5J",
          section: 221,
          overall: 712,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/00R17',
          load: 99,
          seed: 'S',
          standard: "6.5J",
          section: 228,
          overall: 702,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '235/65R17',
          load: 104,
          seed: 'T',
          standard: "7.0J",
          section: 240,
          overall: 738,
          maxkg: 900,
          maxibs: 1984,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/65R17',
          load: 107,
          seed: 'S',
          standard: "7.0J",
          section: 248,
          overall: 750,
          maxkg: 975,
          maxibs: 2149,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '255/60R18',
          load: 112,
          seed: 'T',
          standard: "7.5J",
          section: 260,
          overall: 763,
          maxkg: 1120,
          maxibs: 2469,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '225/55R18',
          load: 98,
          seed: 'S',
          standard: "7.0J",
          section: 233,
          overall: 705,
          maxkg: 750,
          maxibs: 1653,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/55R19',
          load: 99,
          seed: 'T',
          standard: "7.0J",
          section: 233,
          overall: 731,
          maxkg: 775,
          maxibs: 1709,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/60R18',
          load: 100,
          seed: 'S',
          standard: "6.5J",
          section: 228,
          overall: 727,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '235/65R18',
          load: 106,
          seed: 'T',
          standard: "7.0J",
          section: 240,
          overall: 763,
          maxkg: 950,
          maxibs: 2094,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/60R18',
          load: 105,
          seed: 'T',
          standard: "7.0J",
          section: 248,
          overall: 751,
          maxkg: 925,
          maxibs: 2039,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '265/60R18',
          load: 110,
          seed: 'R',
          standard: "8.0J",
          section: 272,
          overall: 775,
          maxkg: 1060,
          maxibs: 2337,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '225/45R19',
          load: 96,
          seed: 'T',
          standard: "7.5J",
          section: 225,
          overall: 685,
          maxkg: 710,
          maxibs: 1565,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/75R19',
          load: 99,
          seed: 'T',
          standard: "7.5J",
          section: 245,
          overall: 719,
          maxkg: 775,
          maxibs: 1708,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '235/75R19',
          load: 101,
          seed: 'T',
          standard: "7.5J",
          section: 245,
          overall: 741,
          maxkg: 825,
          maxibs: 1819,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/45R19',
          load: 102,
          seed: 'T',
          standard: "8.0J",
          section: 243,
          overall: 703,
          maxkg: 850,
          maxibs: 1874,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '245/55R19',
          load: 103,
          seed: 'R',
          standard: "7.5J",
          section: 253,
          overall: 753,
          maxkg: 875,
          maxibs: 1929,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '255/40R19',
          load: 100,
          seed: 'T',
          standard: "9.0J",
          section: 260,
          overall: 687,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '255/49R19',
          load: 100,
          seed: 'T',
          standard: "8.5J",
          section: 255,
          overall: 713,
          maxkg: 800,
          maxibs: 1764,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '255/55R19)',
          load: 107,
          seed: 'T',
          standard: "8.0J",
          section: 265,
          overall: 763,
          maxkg: 975,
          maxibs: 2050,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '265/50R19',
          load: 110,
          seed: 'T',
          standard: "8.5J",
          section: 277,
          overall: 749,
          maxkg: 1060,
          maxibs: 2337,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '275/40R19',
          load: 105,
          seed: 'T',
          standard: "9.5J",
          section: 278,
          overall: 703,
          maxkg: 925,
          maxibs: 2039,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '235/55R20',
          load: 102,
          seed: 'T',
          standard: "7.5J",
          section: 245,
          overall: 766,
          maxkg: 850,
          maxibs: 1874,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '245/45R20',
          load: 103,
          seed: 'T',
          standard: "8.0J",
          section: 243,
          overall: 728,
          maxkg: 875,
          maxibs: 1929,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '245/50R20',
          load: 102,
          seed: 'T',
          standard: "7.5J",
          section: 253,
          overall: 754,
          maxkg: 850,
          maxibs: 1874,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '255/50R20',
          load: 109,
          seed: 'S',
          standard: "8.0J",
          section: 265,
          overall: 764,
          maxkg: 1030,
          maxibs: 2271,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '275/45R20',
          load: 106,
          seed: 'S',
          standard: "9.0J",
          section: 273,
          overall: 756,
          maxkg: 950,
          maxibs: 2094,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '275/55R20',
          load: 117,
          seed: 'S',
          standard: "8.5J",
          section: 284,
          overall: 810,
          maxkg: 1285,
          maxibs: 2833,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '285/50R20',
          load: 112,
          seed: 'S',
          standard: "9.0J",
          section: 297,
          overall: 794,
          maxkg: 1120,
          maxibs: 2469,
          maxkpa: 300,
          maxpsi: 44
        },
        {
          size: '255/45R21',
          load: 105,
          seed: 'T',
          standard: "8.5J",
          section: 255,
          overall: 763,
          maxkg: 925,
          maxibs: 2039,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '275/45R21',
          load: 110,
          seed: 'T',
          standard: "9.0J",
          section: 273,
          overall: 781,
          maxkg: 1060,
          maxibs: 2337,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '275/40R22',
          load: 107,
          seed: 'T',
          standard: "9.5J",
          section: 278,
          overall: 779,
          maxkg: 975,
          maxibs: 2149,
          maxkpa: 340,
          maxpsi: 49
        }
      ],
      bm81: [
        {
          size: '31*10.50R15LT',
          pr: 6,
          load: 109,
          seed: 'Q',
          standard: "8.0J",
          section: 268,
          overall: 775,
          maxkg: 1030,
          maxibs: 2271,
          maxkpa: 350,
          maxpsi: 50
        },
        {
          size: 'LT235/75R15',
          pr: 6,
          load: '109/101',
          seed: 'Q',
          standard: "6.5J",
          section: 235,
          overall: 733,
          maxkg: 900,
          maxibs: 1985,
          maxkpa: 350,
          maxpsi: 50
        },
        {
          size: 'LT245/75R16',
          pr: 10,
          load: '120/116',
          seed: 'Q',
          standard: "7.0J",
          section: 248,
          overall: 774,
          maxkg: 1380,
          maxibs: 3042,
          maxkpa: 550,
          maxpsi: 80
        },
        {
          size: 'LT265/75R16',
          pr: 10,
          load: '123/120',
          seed: 'Q',
          standard: "7.5J",
          section: 267,
          overall: 804,
          maxkg: '1550/1400',
          maxibs: '3417/3086',
          maxkpa: 550,
          maxpsi: 80
        },
        {
          size: 'LT285/75R16',
          pr: 10,
          load: '126/123',
          seed: 'Q',
          standard: "8.0J",
          section: 286,
          overall: 844,
          maxkg: '1700/1550',
          maxibs: '3750/2835',
          maxkpa: 550,
          maxpsi: 80
        },
        {
          size: 'LT265/65R17',
          pr: 10,
          load: '120/117',
          seed: 'Q',
          standard: "8.0J",
          section: 272,
          overall: 776,
          maxkg: '1400/11285',
          maxibs: '3085/2835',
          maxkpa: 550,
          maxpsi: 80
        },
        {
          size: 'LT265/70R17',
          pr: 10,
          load: '121/118',
          seed: 'Q',
          standard: "8.0J",
          section: 272,
          overall: 804,
          maxkg: '1450/1320',
          maxibs: '3195/2910',
          maxkpa: 550,
          maxpsi: 80
        }
      ],
      bh19: [
      {
          size: '225/35ZR20',
          load: 90,
          seed: 'W',
          standard: "8.0J",
          section: 230,
          overall: 666,
          maxkg: 600,
          maxibs: 1323,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '25/35ZR20',
          load: 97,
          seed: 'W',
          standard: "9.0J",
          section: 260,
          overall: 686,
          maxkg: 730,
          maxibs: 1609,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '275/40ZR20',
          load: 106,
          seed: 'W',
          standard: "9.5J",
          section: 278,
          overall: 728,
          maxkg: 950,
          maxibs: 2094,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '245/30ZR22',
          load: 92,
          seed: 'W',
          standard: "8.5J",
          section: 248,
          overall: 707,
          maxkg: 630,
          maxibs: 1389,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '265/35R22',
          load: 102,
          seed: 'V',
          standard: "9.5J",
          section: 271,
          overall: 745,
          maxkg: 850,
          maxibs: 1874,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '305/40R22',
          load: 114,
          seed: 'V',
          standard: "11.0J",
          section: 313,
          overall: 803,
          maxkg: 1180,
          maxibs: 2601,
          maxkpa: 340,
          maxpsi: 49
        },
        {
          size: '305/45R22',
          load: 118,
          seed: 'V',
          standard: "10.0J",
          section: 303,
          overall: 833,
          maxkg: 1320,
          maxibs: 2910,
          maxkpa: 340,
          maxpsi: 49
        }
      ]
    }
  },
  computed: {
    size() {
      const size = { md: "large", xl: "x-large" }[
        this.$vuetify.breakpoint.name
      ];
      return size ? { [size]: true } : {};
    },
  },
  methods: {
    goToExample() {
      this.$router.push('/example');
    },
  }
}
</script>
<style>
  .circle1 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #e0effc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  </style>
